# Environment
.env
*.env

# Data files
data/
*.parquet
*.csv

# Python
__pycache__/
*.pyc
venv/

# dbt
dbt/target/
dbt/logs/

# OS
.DS_Store
Thumbs.db
logs

# Large JAR files - download via script
jars/aws-java-sdk-bundle-1.12.674.jar
jars/hadoop-aws-3.3.4.jar